.ThreeLayout{
    width: 500px;
    height: 200px;
    margin: auto;
}

@media (max-width: 600px){
    .ThreeLayout{
        width: 80%;
        height: 150px;
        margin: auto;
    }
}

.HidePiece{
    background-color: black;
}