.Score {
    color: black;
    display: flex;
}

.ScoreCenter {
    margin: auto;
    width: 10%;
    margin: 0 0 0 45%;
    text-align: center;
    float: left;
    color:black;
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-size: 2em;
}

.ScoreAdd {
    vertical-align: middle;
    width: 30%;
    margin-top: 0.92em;
    margin-bottom: 0.92em;
    font-size: 1.5em;
    display: inline-block;
    color: gray;
    opacity: 0.0;
}

.ScoreAddExcited {
    vertical-align: middle;
    width: 30%;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-size: 2em;
    display: inline-block;
    color: gray;
    font-weight: bold;
    opacity: 0.0;
}

.ShowNormal {
    animation: color-me-in 2s;
}

.ShowExcited {
    animation: color-me-in 3s;
}

@keyframes color-me-in {
    0% {
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
    }
  }







