.CardStyle {
    width: 90%;
    height: 50px; 
    margin: 5px auto;
}

.FirstChild {
    width: 30%;
    padding-left: 10px;
}
  
.SecondChild {
    width: 60%;
}

.ThirdChild {
    width: 20%;
} 

.CenterVertical {
    height: inherit;
    table-layout: fixed;
    width: inherit;
} 

.LightGrey {
    background-color: #e1e1e7;
}

.DarkGrey {
    background-color: #cacad0;
}

.TableHeader {
    background-color: #161617;
    color: white
}

@media (min-width: 1100px){
    .CardStyle {
        width: 1000px;
        height: 50px; 
        margin: 5px auto;
    }
} 

