.BoardStyle {
    color: red;
    width: 540px;
    height: 540px;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Tile.active{
    color: blue;
}

@media (max-width: 600px){
    .BoardStyle {
        width: 300px;
        height: 300px;
        margin-top: 0px;
      }
}


