.Normal{
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid red;
}

.IsMini{
    width: 35px;
    height: 35px;
    background-color: white;
    border: 1px solid red;
    float: left;
}

.NewLine{
    clear: left;
}

.EmptyBlock{
    background-color:rgba(0,0,0,0);
    border: none;
    z-index: 0;
}

.NextToBlock{
    border-left: 1px solid green;
}

.BelowBlock{
    border-top: 1px solid green;
}

.BlockOnTile{
    outline: 3px solid green;
    outline-offset: -2px; 
    background-color: turquoise;
    z-index: 1;
}

.HoverOnTile{
    background-color: purple;
    z-index: 1;
}

.LeftBorder{
    border-left: 1px solid blue;
}

.NoRightBorder{
    border-right: 1px solid blue;
}

.TopBorder{
    border-top: 1px solid blue;
}

.NoBottomBorder{
    border-bottom: 1px solid blue;
}

.PickedUp{
    width: 48px;
    height: 50px;
    margin: 5px;
}

.HoverComplete{
    background-color: lightblue;
}

.NotPlaceable{
    background-color: pink;
}

