.WholePage {
    overflow:hidden;
    background-color: #f8f8ff;
    height:100%;
}

.Content {
    margin-top: 72px;
    background-color: #f8f8ff;
    overflow:hidden;
}

@media (max-width: 600px){
    .Content {
        margin-top: 50px;
      }
}