.WholePage {
    height: 100vh;
    overflow:hidden;
    background-color: #f8f8ff;
}

.Content {
    margin-top: 72px;
    background-color: #f8f8ff;
}

@media (max-width: 600px){
    .Content {
        margin-top: 50px;
      }
}